<footer class="w3-container w3-padding-16 w3-dark-grey">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="w3-row-padding">

    <div class="w3-col m6">
      <p>{{site.description | escape }}</p>
    </div>

    <div class="w3-col m6" style="text-align: right;">
      {{ site.author.name | escape }}<br>
      <i class="fa fa-home w3-hover-opacity"></i> {{ site.author.bio }}<br>
      <i class="fa fa-envelope w3-hover-opacity"></i> <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </div>
    
  </div>



</footer>
