---
layout: default
---

<div class="w3-home">
  <header>
    <div class="w3-container w3-bottombar">
      {%- if page.title -%}
    <h1 class="w3-page-heading">{{ page.title }}</h1>
     {%- endif -%}
   
    </div>
  </header>

  <div class="w3-container">  {{ content }} </div>
  <div class="w3-container">
    <h1>Blog posts</h1>
    <div class="w3-section w3-padding-16">
      <span class="w3-margin-right">Categories:</span> 
      <button class="w3-button w3-black" onclick="filterUsingCategory('All')" id="All"> ALL</button>
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        {% assign cat = category | first %}
        <button id="{{ cat }}" class="w3-button w3-white" onclick="filterUsingCategory(this.id)">
          {{ cat }}
        </button>
      {% endfor %}
    </div>

    {% assign id = 0 %}
    <div class="w3-row-padding">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% for post in site.posts %}
        {% assign id = id | plus:1 %}
        <div class="w3-third w3-container w3-margin-bottom" id="{{id}}">
          <img src="{{ post.image  | relative_url }}" style="height:100px" class="hover-opacity">
          <div class="w3-container w3-white">
            <p> 
              <a class="post-link" href="{{ post.url | relative_url }}">
                <b>{{ post.title | escape }}</b> | {{ post.date | date: date_format }} | {{ post.categories }}
              </a>
            </p>
            <p>{{ post.excerpt }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

</div>


</div>
